body{
    background: #fdfffc;
}

.nav{
    color: #02111b;
    display: flex;
    justify-content: right;
    font-family: 'Montserrat', sans-serif;
}

.link {
    box-shadow: inset 0 0 0 0 #5d737e;
  color: #02111b;
  margin: 0.05rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  border: #5d737e 1px thin;
}
.link:hover{
    box-shadow: inset 100px 0 0 0 #5d737e;
    color: white;
}

.page{
    display: flex;
    padding: 1em;
    height: 100vh;
    flex-direction: column;
    color: #02111b;
}
.form{
    display: flex;
    justify-content: center;
}

.title{
    display: flex;
    justify-content: center;
    padding-top: 0.5em;
    padding-bottom: 0.3em;
    font-family: 'Montserrat', sans-serif;
}
