.button a:visited{
    color: white;
    }
    
    .button{
        margin-left: 5em;
        background-color: #3a3238;
        border-color: unset;
        display: flex;
        justify-items: center;
        flex-direction: column;
    }

    .button:hover{
        background-color: yellow;
        border-color: unset;
        color:#3a3238 ;
    }


.message{
    padding: 2em;
    text-align: center;
    color: #02111b;
}

.fullForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5em;
    padding-right: 5em;
}