body{
    background: #fdfffc;
    margin: 0;
}

.page{
    display: flex;
    flex-direction: column;
    border: solid 3px red;
}

.nav{
    display: flex;
    justify-content: right;
    padding:1em 2em 2em 1em;
}

.text{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    text-align: center;
}


.link {
    color: inherit;
    text-decoration: inherit;
}
.link:hover{
    text-decoration: underline #283618 3px;
}

.brands{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

