@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.img{
 height: 10%;
 width: auto;
}

.picture{
float: left;
}


body{
     background: white;
    overflow-x: hidden;
}

.whiteSpace::after{
    content: "";
    display: flex;
    width: 72%;
    padding-top: 1em;
    border-bottom: 2px solid #5d737e;
}

.title{
    padding-top: 1.2em;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.subtext{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.line{
    background-color: white;
}

.line::after{
    content: "";
    display: flex;
    margin-left: 20%;
    width: 80%;
    padding-top: 2em;
    border-bottom: 2px solid #5d737e;
    background-color: white;
}
h5{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.page{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    color: #02111b;
}

.nav{
    color: #02111b;
    display: flex;
    justify-content: right;
    font-family: 'Montserrat', sans-serif;
}

.link {
    box-shadow: inset 0 0 0 0 #5d737e;
  color: #02111b;
  margin: 0.05rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  border: #5d737e 1px thin;
}
.link:hover{
    box-shadow: inset 100px 0 0 0 #5d737e;
    color: white;
}

.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
     background-color: yellow;
    color: #02111b;
    padding: 0.5em;
}


.brands{
    position: relative;
    display: flex;
    align-items: center;
    background-color: white;
}
.projects{
    margin-top: 0.5em;
    background-color: white;
}

.brands::after{
    content: "";
    display: flex;
    margin-left: 20%;
    width: 80%;
    padding-top: 1em;
    border-top: 2px solid #5d737e;
}

.space::after{
    content: "";
    display: flex;
    width: 72%;
    padding-top: 1em;
    border-bottom: 2px solid #5d737e;
}

.contact{
    display: flex;
    padding: 1em;
    flex-direction: column;
    color: white;
    background-color: rgb(63, 61, 61);
}

.form{
    display: flex;
    flex-direction: column;
    background-color: rgb(63, 61, 61); 
    color: white;
}

