@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');


body{
    background: #fdfffc;
}
.nav{
    color: #02111b;
    display: flex;
    justify-content: right;
}

.link {
    box-shadow: inset 0 0 0 0 #3a3238;
  color: #02111b;
  margin: 0.05rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  border: #5d737e 1px thin;
}
.link:hover{
    box-shadow: inset 100px 0 0 0 #5d737e;
    color: white;
}

.page{
    display: flex;
    padding: 1em;
    height: 100vh;
    flex-direction: column;
    color: #02111b;
}

.col{
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.info{
    display: flex;
    text-align: center;
    justify-content: space-around;
}


.header{
    text-align: center;
    font-weight: bolder;
    color: #02111b;
    font-family: 'Montserrat', sans-serif;
}

.button a:visited{
    color: white;
    }
    
    .button{
        margin-left: 0.5em;
        background-color: #3a3238;
        border-color: unset;
    }
    .button:hover{
        background-color: #5d737e;
        border-color: unset;
    }

    
    .card{
        width: 22em;
        overflow: hidden;
    }
    
    a{
        text-decoration: none;
        color: white;
    }

    .picture{
        opacity: 0.8;
    }
    
    .picture:hover{
        opacity:unset;
    }
    
    img.picture:hover {
        transform: scale(1.1);
      }

      h4{
        text-align: center;
        font-family: 'Open Sans', sans-serif;
      }