@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

.title{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding: 0.5em;
}

.button a:visited{
color: white;
}

.button{
    margin-left: 0.5em;
    background-color: #3a3238;
    outline: 0;
    border-color: unset;
}

button:focus {
    outline:0;
    box-shadow:none !important;
}

.button:hover{
    background-color: #5d737e;
}

.card{
    width: 22em;
    overflow: hidden;
}

a{
    text-decoration: none;
    color: white;
}


.picture{
    opacity: 0.8;
}

.picture:hover{
    opacity:unset;
}

img.picture:hover {
    transform: scale(1.1);
  }