.div{
    height: 100%;
    max-height: 500px;
}

.pdf{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1em;
}


.page{
    margin-top: 1em;
    display: flex;
    justify-content: center;
    font-weight: bold;

}

.pdfPage{
}
